.header {
    background-color: #F5F5F5;
    margin: 10px;
    font-size: 1.5em;
}

.wrap {
    
}

.notifications {
    width: 28%;
    /* margin: 0px 20px 0px 72%; */
    float: right;

}

.graph {
    width: 68%;
   
    /* margin: 0px 32% 0px 0px; */
    float: left;
}

.glyphicon {
    margin: 4px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}